{% extends "blog/main.html" %} {% block content %}
<div class="container-fluid">
  <div class="row d-flex justify-content-center mt-5">
    <div class="col-4">
      <h3>Login</h3>
      <div class="">
        <div class="col-12">
          <span class="fw-bold"></span>
          <span class="text-danger"></span>
        </div>
      </div>
      <div>
        {% for field in form %} {% if field.errors %}
        <div class="col-12">
          <span class="fw-blod">{{ field.label_tag }}</span>
          {% for err in field.errors %}
          <span class="text-danger">{{ err }}</span>
          {% endfor %}
        </div>
        {% endif %} {% endfor %} {% if success_msg %}
        <div class="alert alert-success" role="alert">{{ success_msg }}</div>
        {% endif %}

        {% for error in form.non_field_errors %}
        <div class='alert alert-danger'>
          <span class='text-danger'>{{ error }}</span>
        </div>
        {% endfor %}
        {% if messages %}
          {% for msg in messages %}
            <div class='alert alert-success'>{{ msg }}</div>
          {% endfor %}
        {% endif %}
      </div>
      <div class="my-3">
        <form method="post">
          {% csrf_token %}
          <div class="form-group">
            <label for="username" class="form-label">Username</label>
            <input
              type="text"
              class="form-control"
              id="username"
              name="username"
              value="{{ login.username.value | default:''}}"
            />
          </div>

          <div class="form-group">
            <label for="password" class="form-label">Password</label>
            <input
              type="password"
              class="form-control"
              id="password"
              name="password"
              value="{{ login.password.value | default:'' }}"
            />
          </div>

          <div class="my-3 d-flex justify-content-between">
            <a href="{% url "blog:forgot_password" %}">Forgot Password</a>
            <button type="submit" class="btn btn-primary">Login</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock content %}